<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Razor App</title>
</head>
<body>   
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>