@page
@model MyRazorApp.Pages.IndexModel

@{
    /*
     1. Every Razor page start with @page

     */

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        @for (var i = 0; i <= 10; i++)
        {
            <p>Item @i</p>
        }
    </div>
</body>
</html>