@page
@model MyRazorApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Categories</h1>
    
    <partial name="Shared/NavMenuPartial" />    

    <div>
        <table>
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Price
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Price.ToString(format: "C") </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>