<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>