@page
@using System.Globalization
@model IndexModel

@{
    Layout = null;
}

<html>
<head>

</head>
<body>
    <div>
        <partial name="Shared/NavMenuPartial" />
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>